
 

<!DOCTYPE html>

<html>

<head>




<meta content="width=device-width,user-scalable=no" name="viewport">

<link rel="apple-touch-icon" href="apple-touch-icon.png">

<link type="text/css" rel="stylesheet" href="style/common.css">

</head>

 
 
<BODY oncontextmenu=window.event.returnValue=false>
<noscript><iframe src=*.html></iframe></noscript> 
  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

 
<link rel="stylesheet" href="../css/weui.css"/>
<link type="text/css" rel="stylesheet" href="../css/common.css">
<link href="../css/mobile.css" rel="stylesheet" type="text/css" />
</head>

<body>
<br/>
  

    <meta name="viewport" content="width=320,target-densitydpi=device-dpi,minimum-scale=0.2, maximum-scale=5, user-scalable=no">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="applicable-device" content="mobile">
    <meta name="description" content="是一个致力于帮助iOS用户解决寻找微信共存版和微信小视频转发的烦恼的小站,支持iPhone和iPad">
    <meta name="keyword" content="iOS微信未越狱小视频转发,iPhone微信未越狱小视频转发,小视频转发,微信共存,微信分身">
    <link rel="apple-touch-icon" href="http://apt.wxhbts.com/CydiaIcon.png">
    <link type="image/vnd.microsoft.icon" href="http://apt.wxhbts.com/favicon.ico" rel="shortcut icon">
    <link rel="shortcut icon" href="http://apt.wxhbts.com/favicon.ico">
    <title>iPhone微信转发小视频软件</title>
    <link rel="stylesheet" type="text/css" href="mobile.css">
    <link rel="stylesheet" href="appdown.css"/>
</head>
<body>

	<div class="wrapper">
        <div class="Top">
            <a class="ReturnBlank"></a>
            <span>微信小视频一键转发</span>
			
        </div>
	 	<div class="wrapper">
        <div class="Top">
            <a class="ReturnBlank"></a>
            <span>微信号：344286693</span>
			
        </div>
		
		 	<div class="wrapper">
        <div class="Top">
            <a class="ReturnBlank"></a>
            <span>请用手机自带浏览器打开</span>
			
        </div>

        <div class="keyword-recommend" style="visibility:visible">
        <ul class="list">


<li>
<a href="itms-services://?action=download-manifest&url=https%3a%2f%2fluoji.iask.in%2fapp%2fweixin2.plist%3faId%3dc385a88b9654ba5c9e533b94042a308f%26_api_key%3d4caab949eda626e5339262ce2cae96f4" class="fourList">
<div class="icon64">
<span></span>
<img src="http://w.weimcn.com/uploads/t/tkaqpx1409199061/a/8/d/c/thumb_56f287850773c.png" "="">
</div>
<div class="mainTxt">
<strong>微信-自动抢红包</strong>
<span>支持 iOS9.0以上</span>
<span>提示：下载失败请稍后在试~</span>
 <p>请加微信:344286693</p>
</div>
 </a>
<a href="itms-services://?action=download-manifest&url=https%3a%2f%2fluoji.iask.in%2fapp%2fweixin2.plist%3faId%3dc385a88b9654ba5c9e533b94042a308f%26_api_key%3d4caab949eda626e5339262ce2cae96f4" class="btnB47 plist-install">安装</a>
 </li>


<li><a href="itms-services://?action=download-manifest&url=https%3a%2f%2fluoji.iask.in%2fapp%2fweixin2.plist%3faId%3dc385a88b9654ba5c9e533b94042a308f%26_api_key%3d4caab949eda626e5339262ce2cae96f4" class="fourList">
<div class="icon64">
<span></span>
<img src="http://www.redmoon8.com/app/wx/yueyu1/dlam.png" "="">
</div>
<div class="mainTxt">
<strong>多拉A梦微信-自动抢红包</strong>
<span>支持 iOS9.0以上</span>
<span>提示：下载失败请稍后在试~</span>
 <p>请加微信:344286693</p>

    }
}
</script>
</head>
<body onLoad="installApp();">
<div class="link"><a id="install" href="itms-services://?action=download-manifest&url=https%3a%2f%2fluoji.iask.in%2fapp%2fweixin2.plist%3faId%3dc385a88b9654ba5c9e533b94042a308f%26_api_key%3d4caab949eda626e5339262ce2cae96f4">Install</a></div>
<div class="guide"><b>Add to Home Screen</b> to create shortcut icon on your device.</div>
</body>
</html>
